﻿@model InvoiceData
@{

}

<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">

                    <div class="card-content ">
                        <div class="card-body">

                            <form class="form" novalidate asp-action="CreateInvoice" asp-controller="Home" id="myForm">
                                
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-layers"></i>CREATE INVOICE FOR CUSTOMER</h4>
                                    <input type="hidden" asp-for="IsActive" />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="projectinput1">Customer No รหัสลูกค้า</label>
                                                <div class="controls">
                                                    <input type="text" asp-for="CustomerNo" class="form-control" placeholder="Customer" required data-validation-required-message="This field is required">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group ">
                                                <label for="projectinput1">Invoice No หมายเลขใบแจ้งหนี้</label>
                                                <fieldset>
                                                    <div class="input-group controls">
                                                        <input type="text" class="form-control" asp-for="InvoiceNo" placeholder="Invoic No หมายเลขใบแจ้งหนี้  # to searching from API"
                                                               required data-validation-required-message="This field is required">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-success" type="button" onclick="gogetBalance()">Search</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="projectinput1">Customer Name ชื่อลูกค้า</label>
                                                <div class="controls">
                                                    <input type="text" asp-for="CustomerName" class="form-control" placeholder="Customer Name" required data-validation-required-message="This field is required">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="projectinput2">Email อีเมล์ลูกค้า</label>
                                                <div class="controls">
                                                    <input type="email" asp-for="Email" class="form-control" placeholder="Email" required data-validation-required-message="This field is required">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="projectinput3">Telephone เบอร์ติดต่อ </label>
                                                <div class="controls">
                                                    <input type="text" asp-for="Telephone" class="form-control" placeholder="Telephone" required data-validation-required-message="This field is required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="projectinput4">Invoice Amount ยอดชำระ</label>
                                                <div class="controls">
                                                    <input type="number" step="0.01" asp-for="InvoiceAmount" class="form-control text-bold-900 text-success" placeholder="Invoice Amount" required data-validation-required-message="This field is required" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group">
                                                <label for="projectinput4">Active ใช้งาน</label>
                                                    <fieldset>
                                                        <div class="float-left">
                                                            <input type="checkbox" class="switch" id="switchActive" data-group-cls="btn-group-sm" />
                                                        </div>
                                                    </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions">
                                    <button type="reset" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Reset
                                    </button>
                                    <button type="submit" class="btn btn-info">
                                        <i class="la la-check-square-o"></i> Create Invoice
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic form layout section end -->
</div>
@section Scripts {
   
    <script>
        (function (window, document, $) {
            'use strict';
            // Input, Select, Textarea validations except submit button
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(
                {
                    submitSuccess: function ($form, event) {
                        //event.preventDefault();
                        var _tel = $('#Telephone').val(); var _email = $('#Email').val();
                        if (_tel == "" || _email == "") {
                            toastr.error("กรุณากรอกข้อมูล หมายเลขโทรศัพท์ และ Email เพื่อส่งข้อมูลการแจ้งเตือน !");
                            return false;
                        }
                        debugger
                        var _act = $('#switchActive').is(":checked");
                        $("#IsActive").val(_act);

                        //$form.submit();
                    }
                }
            );

        })(window, document, jQuery);

        $(function () {
            //toastr.success('Have fun storming the castle!', 'Miracle Max Says');
            $('.switch').checkboxpicker();
        });

        function gogetBalance() {
            var _inv = $('#InvoiceNo').val(); var _cust = $('#CustomerNo').val();

            if (_inv == "" || _cust == "") {
                toastr.error("กรุณากรอกข้อมูล หมายเลขใบแจ้งหนี้  & รหัสลูกค้า เพื่อค้นหาข้อมูลยอดชำระ !");
                return false;
            }
         

            Swal.fire({
                title: 'Please Wait !',
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
            });
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "@Url.Action("getBalance", "Home")",
                data: { invoice_no: _inv, customer_no: _cust },
                success: function (data) {
                    if (data.status == "success") {
                        toastr.success("Completed");
                        $("#InvoiceAmount").val(data.message);
                    } else {
                        toastr.error("Fail to call API : " + data.message);
                    }

                    swal.close();

                },
                error: function (err) {
                    toastr.error(err);
                },
                complete: function (data) {
                }
            });
        }

    </script>
}
