﻿@model List<InvoiceData>
@{ 
    string _appUrl = ViewBag.AppUrl;
}
<div class="content-body">
    <!-- eCommerce statistic -->
            <table class="table table-striped table-bordered dataex-html5-export font-small-2">
                <thead >
                    <tr class="text-bold-600 bg-dark text-white">
                        <th>รหัสลูกค้า</th>
                        <th>ชื่อลูกค้า</th>
                        <th>หมายเลขใบแจ้งนี้</th>
                        <th>ยอดการรับชำระ</th>
                        <th>วันที่สร้างเอกสาร</th>
                        <th>อีเมล์ลูกค้า</th>
                        <th>เบอร์โทรศัพท์</th>
                        <th>ชำะเงินแล้ว</th>
                        <th>ใช้งาน</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center text-bold-700"><a onclick="openModal('@item.CustomerNo');" href="#">@item.CustomerNo</a></td>
                        <td>@item.CustomerName</td>
                        <td class="text-center text-bold-700">@item.InvoiceNo</td>
                        <td class="text-right text-success text-bold-700">@item.InvoiceAmount.ToString("#,0.00")</td>
                        <td>@item.LogDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@item.Email</td>
                        <td>@item.Telephone</td>
                        <td>
                            @if (item.IsPaid)
                            {
                                <div class='badge badge-success'>ชำระแล้ว</div>
                            }
                            else
                            {
                                <div class='badge badge-danger'>ยังไม่ชำระ</div>
                            }
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <a class='badge badge-info text-white' onclick="goActive(@item.Id,0)"> ใช้งาน</a>
                            }
                            else
                            {
                                <a class='badge badge-warning text-white' onclick="goActive(@item.Id,1)">ไม่ใช้งาน</a>
                            }
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-primary btn-glow text-white" onclick="goSMS(@item.Id);">ส่ง SMS</a>&nbsp;
                            <a class="btn btn-sm btn-success btn-glow text-white" onclick="goEmail(@item.Id);">ส่ง Email</a>&nbsp;
                            <a class="btn btn-sm btn-danger btn-glow text-white" onclick="goDelete(@item.Id);">ลบ</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
</div>

<div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title text-white" id="myLink">Copy Link เพื่อส่งไปให้ลูกค้า</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="input-group">
                        <input value="" readonly class="form-control" id="linkCust" name="linkCust"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="button" onclick="copyIT();">Copy !</button>
                        </div>
                    </div>
                </fieldset>
          

            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>             
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(function () {

        $('.dataex-html5-export').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'csvHtml5',
            ]
        });

    });

        function copyIT() {
            var copyText = document.getElementById("linkCust");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");
        }

        function openModal(cust) {
            var _link = '@_appUrl' + "CheckOut/Index?customer=" + cust;
            $("#linkCust").val(_link);
            $("#default").modal("show");
        }

        function goDelete(_id) {

            Swal.fire({
                title: 'คุณต้องการลบข้อมูล Invoice ใบนี้ ?',
                type: 'question',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: `ยืนยันลบ`,
                denyButtonText: `ยกเลิก`,
            }).then((result) => {
                //debugger
                if (result.value != undefined) {
                    $.ajax({
                        cache: false,
                        async: true,
                        type: "POST",
                        url: "@Url.Action("Delete", "Home")",
                        data: { Id: _id },
                        success: function (data) {
                            if (data.status == "success") {
                                toastr.success("Completed");
                                setTimeout(
                                    location.reload()
                                    , 3000);
                            } else {
                                toastr.error("Fail " + data.message);
                                swal.close();
                            }
                        },
                        error: function (err) {
                            toastr.error(err);
                        },
                        complete: function (data) {
                        }
                    });

                } else {
                    //toastr.error("Err");
                    return false;
                }
            })
        }
        function goActive(_id, _type) {
            //debugger
            var _text = (_type == 1 ? "เปิดการใช้งาน" : "ปิดการใช้งาน");
            Swal.fire({
                title: 'คุณต้องการ ' + _text + ' ?',
                type: 'question',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: `ยืนยัน`,
                denyButtonText: `ยกเลิก`,
            }).then((result) => {
                //debugger
                if (result.value != undefined) {
                    $.ajax({
                        cache: false,
                        async: true,
                        type: "POST",
                        url: "@Url.Action("Active", "Home")",
                        data: { Id: _id, type: _type },
                        success: function (data) {
                            if (data.status == "success") {
                                toastr.success("Completed");
                                setTimeout(
                                    location.reload()
                                    , 3000);
                            } else {
                                toastr.error("Fail " + data.message);
                                swal.close();
                            }
                        },
                        error: function (err) {
                            toastr.error(err);
                        },
                        complete: function (data) {
                        }
                    });

                } else {
                    //toastr.error("Err");
                    return false;
                }
            })
        }

        function goSMS(_id) {
              Swal.fire({
                title: 'คุณต้องการส่ง SMS Invoice ใบนี้ ?',
                type: 'question',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: `ยืนยันการส่ง SMS`,
                denyButtonText: `ยกเลิก`,
            }).then((result) => {
                //debugger
                Swal.showLoading();
                if (result.value != undefined) {
                    $.ajax({
                        cache: false,
                        async: true,
                        type: "POST",
                        url: "@Url.Action("SENDSMS", "Home")",
                        data: { Id: _id },
                        success: function (data) {
                            if (data.status == "success") {
                                toastr.success("Completed");
                                swal.close();
                            } else {
                                toastr.error("Fail " + data.message);
                                swal.close();
                            }
                        },
                        error: function (err) {
                            toastr.error(err);
                        },
                        complete: function (data) {
                        }
                    });

                } else {
                    //toastr.error("Err");
                    return false;
                }
            })
        }
        function goEmail(_id) {
            Swal.fire({
                title: 'คุณต้องการส่ง Email Invoice ใบนี้ ?',
                type: 'question',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: `ยืนยันการส่ง Email`,
                denyButtonText: `ยกเลิก`,
            }).then((result) => {
                //debugger
                Swal.showLoading();
                if (result.value != undefined) {
                    $.ajax({
                        cache: false,
                        async: true,
                        type: "POST",
                        url: "@Url.Action("SENDEMAIL", "Home")",
                        data: { Id: _id },
                        success: function (data) {
                            if (data.status == "success") {
                                toastr.success("Completed");
                                swal.close();
                            } else {
                                toastr.error("Fail " + data.message);
                                swal.close();
                            }
                        },
                        error: function (err) {
                            toastr.error(err);
                        },
                        complete: function (data) {
                        }
                    });

                } else {
                    //toastr.error("Err");
                    return false;
                }
            })
        }
    </script>
}