﻿<div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 box-shadow-2">
    <div class="card border-grey border-lighten-3 px-2 my-0 row">
        <div class="card-header no-border pb-1">
            <div class="card-body">
                <h2 class="error-code text-center mb-2 text-danger">404</h2>
                <h3 class="text-uppercase text-center">ไม่พบข้อมูลลูกค้า !</h3>
            </div>
        </div>
        <div class="card-content px-2">
            <fieldset class="row py-1">
                <div class="input-group col-12">
                    <input type="text" class="form-control border-grey border-lighten-1" id="searchText" placeholder="ค้นหารหัสลูกค้า..." aria-describedby="button-addon2">
                    <span class="input-group-append" id="button-addon2">
                        <button class="btn btn-secondary border-grey border-lighten-1" type="button" onclick="goSearch()"><i class="la la-search"></i></button>
                    </span>
                </div>
            </fieldset>
            @*<div class="row py-2">
                <div class="col-12">
                    <a href="index.html" class="btn btn-primary btn-block"><i class="la la-home"></i> Back to Home</a>
                </div>
            </div>*@
        </div>
        
    </div>
</div>

@section Scripts {

    <script>
        function goSearch() {
            let data = $("#searchText").val();
            if (data == "") {
                toastr.error("กรุณากรอกข้อมูลรหัสลูกค้า เพื่อค้นหา");
                return false;
            }

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "@Url.Action("Searching", "CheckOut")",
                data: { customer_no: data },
                success: function (data) {
                    //debugger
                    if (data.status == "success") {
                        debugger
                        //toastr.success("Completed");
                        window.location = "/CheckOut/Index?customer=" + data.message
                    } else {
                        toastr.error("Fail " + data.message);
                        swal.close();
                    }
                },
                error: function (err) {
                    toastr.error(err);
                },
                complete: function (data) {
                }
            });
        }
    </script>

}