﻿@model List<InvoiceData>
@{
    ViewData["AppTitle"] = "Pay Online";
}
<style>
    .pay-button {
        width: 100% !important;
    }
</style>
<div class="content-body">
    <!-- Bootstrap pricing -->
    <section id="social-cards-bgcolor">
        <div class="row mt-2">
            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="card profile-card-with-cover">
                        <div class="card-content card-deck text-center">
                            <div class="card box-shadow">
                                <div class="card-header bg-info">
                                    <h3 class="my-0 font-weight-bold text-white">INV-@item.InvoiceNo </h3>
                                </div>
                                <div class="card-body">
                                    <h1 class="pricing-card-title">@item.InvoiceAmount.ToString("#,0.00")<small class="text-muted"></small></h1>
                                    <ul class="list-unstyled mt-2 mb-2">
                                        <li><span class="font-weight-bold font-small-2">Customer : </span><span class="font-small-2">(@item.CustomerNo) @item.CustomerName</span></li>
                                    </ul>
                                    <a asp-action="Review" asp-controller="CheckOut" asp-route-id="@item.Id" class="btn btn-block btn-info  btn-glow text-white">แสดงข้อมูล</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <div class="modal fade text-left" id="PayOnline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">ดำเนินการชำระ - <span id="invNo" class="text-bold-700"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-7">
                            <dl class="row">
                                <dt class="col-sm-5 text-right">รหัสลูกค้า :</dt>
                                <dd class="col-sm-7"><span id="custNo" class="text-bold-700"></span></dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-5 text-right">ชื่อลูกค้า :</dt>
                                <dd class="col-sm-7"><span id="custName" class="text-bold-700"></span></dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-5 text-right">โทรศัพท์ :</dt>
                                <dd class="col-sm-7"><span id="tel" class="text-bold-700"></span></dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-5 text-right">อีเมล์ :</dt>
                                <dd class="col-sm-7"><span id="email" class="text-bold-700"></span></dd>
                            </dl>
                        </div>
                        <div class="col-5 text-center pt-3">
                            <h3 class="pricing-card-title">ยอดชำระ </h3>
                            <h1 class="pricing-card-title"><span class="text-bold-900 text-success" id="invAmt"></span> </h1>
                        </div>
                    </div>
                    
                    <hr>
                    <form method="POST" action="CheckOut/ProcessCheckOut" id="checkout-form">
                        <input type="hidden" id="local_amount" name="local_amount" value="" />
                        <input type="hidden" id="local_invoice" name="local_invoice" value="" />
                        <input type="hidden" id="local_custno" name="local_custno" value="" />
                        <input type="hidden" id="local_custname" name="local_custname" value="" />
                        <input type="hidden" id="local_tel" name="local_tel" value="" />
                        <input type="hidden" id="local_email" name="local_email" value="" />
                        <script type="text/javascript" id="formPay"
                                src="https://dev-kpaymentgateway.kasikornbank.com/ui/v2/kpayment.min.js"
                                data-apikey="pkey_test_20972KOPdDuJNWfBcdgwrRo0TvPwKWt54HM3p"
                                data-amount="1.00"
                                data-currency="CCY"
                                data-payment-methods="card"
                                data-name="ILINK"
                                data-mid="451005210623001">
                        </script>
                    </form>
                </div>                
            </div>
        </div>
    </div>

    <!-- // Bootstrap pricing section end -->
    
</div>

@section Scripts {

    <script>
    function goCheckOut(param) {
        window.location = "/Home/CheckOut";

        //$('#checkout-form').submit();
    }
    $(function () {
        $(".pay-button").addClass("btn btn-lg btn-block btn-info  btn-glow text-white");
    });

        function goPay(custNo, custName, InvNo, InvAmount, tel, email) {
            $("#invNo").html(InvNo); $("#custNo").html(custNo); $("#custName").html(custName); $("#tel").html(tel); $("#email").html(email); $("#invAmt").html(InvAmount);
            $("#local_invoice").val(InvNo); $("#local_custno").val(custNo); $("#local_custname").val(custName); $("#local_amount").val(InvAmount);
            $("#local_tel").val(tel); $("#local_email").val(email);

            $("#formPay").data("data-amount", InvAmount);
            $("#PayOnline").modal("show");
        }

    </script>

}