﻿@model ReceiveTransactionData
    <!-- Bootstrap Checkout form -->
    <section id="social-cards">

        <div class="row mt-2">
            <div class="col-md-4 order-md-2">
                <h4 class="d-flex justify-content-between align-items-center">
                    <span class="text-muted">Your cart</span>
                    @*<span class="badge badge-danger badge-pill">3</span>*@
                </h4>
                <ul class="list-group mb-3 card">

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Payment (THB)</span>
                        <strong>  <input type="text" class="form-control" asp-for="amount" disabled></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Currency To Pay</span>
                        <strong>  <input type="text" class="form-control" asp-for="dcc_cur" disabled></strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4>Check Out Information</h4>
                <form class="needs-validation p-2 bg-white card" novalidate="">
                    <input type="hidden" class="form-control" asp-for="mid">
                    <input type="hidden" class="form-control" asp-for="token">
                    <input type="hidden" class="form-control" asp-for="secretKey">
                    <input type="hidden" class="form-control" asp-for="cardid">
                    <input type="hidden" class="form-control" asp-for="invoice_no">
                    <input type="hidden" class="form-control" asp-for="dcc_cur">

                    <div class="mb-3">
                        <label for="address2">Reference 1 เลขที่ใบแจ้งหนี้ (สามารถแก้ไขได้)<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" value="@Model.invoice_no" id="ref_1">
                    </div>
                    <div class="mb-3">
                        <label for="address2">Reference 2 รหัสลูกค้า (สามารถแก้ไขได้) <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="ref_2" value="@Model.cust_no">
                    </div>

                    <div class="mb-3">
                        <label for="address2">Decsription<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <button class="btn btn-danger btn-lg btn-block" type="button" onclick="goCharge()">Cofirm Checkout ยืนยันการจ่ายชำระ</button>
                </form>
            </div>
        </div>
    </section>
    <!-- // Bootstrap Checkout form end -->
@section Scripts {

    <script>
        function goCharge() {
            //window.location = "/Home/CheckOut";
            debugger
            var _model = [];
            _model.push({
                token: $("#token").val(),
                amount: $("#amount").val(),
                currency: "THB",
                dcc_data: {
                    dcc_currency: $("#dcc_cur").val()
                },
                additional_data: {
                    mid: $("#mid").val()
                },
                source_type: "card",
                mode: "token",
                ref_1: $("#ref_1").val(),
                ref_2: $("#ref_2").val(),
                reference_order: $("#invoice_no").val() + "_" + Math.floor(Math.random() * 500000).toString(),
                description: $("#description").val()
            });

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "@Url.Action("ProcessCharge", "CheckOut")",
                data: { model: JSON.stringify(_model), secret: $("#secretKey").val() },
                success: function (data) {
                    if (data.status == "success") {
                        debugger
                        window.location = data.model.redirect_url;
                    } else {
                        //debugger
                        window.location = "/CheckOut/ProcessResult?ret=" + data.model.message + "&AMT=" + $("#amount").val();
                        //toastr.error(data.model.mess);
                    }
                },
                error: function (err) {
                     toastr.error("");
                },
                complete: function (data) {

                }

            });

            //$('#checkout-form').submit();
        }
        $(function () {

        });
    </script>

}