﻿@{ 
    decimal _amt = ViewBag.AMT;
    string _cus = ViewBag.CUS;
}
<div class="content-body">
    <section id="icon-section-bg-gradient">
        <div class="row">
            @if (ViewBag.R == "Y")
            {
                <div class="col-8 mx-auto">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 bg-gradient-x-success text-white media-body text-left rounded-left">
                                    <h5 class="text-white">ชำระเงินสำเร็จ</h5>
                                    <h5 class="text-white text-bold-400 mb-0">฿ @_amt.ToString("#,0.00")</h5>
                                </div>
                                <div class="p-2 text-center bg-success bg-darken-2 rounded-right">
                                    <i class="icon-check font-large-2 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 mx-auto">
                    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="CheckOut" asp-route-customer="@_cus"><i class="la la-arrow-left"></i> Back to Check Out</a>
                </div>
            }
            else if (ViewBag.R == "W")
            {
                <div class="col-12">
                    <h2 class="text-center"> Please Wait .. โปรดรอสักครู่ </h2>
                    <div class="loader-wrapper">
                        <div class="loader-container">
                            <div class="ball-rotate loader-info">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 bg-gradient-x-danger text-white media-body text-left rounded-left">
                                    <h5 class="text-white">เกิดข้อผิดพลาดในการชำระเงิน : @Html.Raw(ViewBag.R)</h5>
                                    <h5 class="text-white text-bold-400 mb-0">฿ @_amt.ToString("#,0.00")</h5>
                                </div>
                                <div class="p-2 text-center bg-danger bg-darken-2 rounded-right">
                                    <i class="icon-close font-large-2 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

@section Scripts {

<script>



    $(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var _amt = url.searchParams.get("AMT");
        var _ret = url.searchParams.get("ret");
    })
</script>

}