﻿@model InvoiceData
<div class="content-body">
    <!-- Bootstrap Checkout form -->
    <section id="social-cards">

        <div class="row mt-2">
            <div class="col-md-5 order-md-2">

                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="media align-items-stretch">

                            <div class="media-body p-2">
                                <h4>ยอดชำระ</h4>
                                <span></span>
                            </div>
                            <div class="media-right p-2 media-middle">
                                <h1 class="info">@Model.InvoiceAmount.ToString("#,0.00")</h1>
                            </div>
                            <div class="bg-info p-2 media-middle">
                                <i class="icon-credit-card font-large-2 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 order-md-1">
                <div class="needs-validation p-2 bg-white card" novalidate="">

                    <div class="row">
                        <div class="col-5 mb-1">
                            <label for="address2">รหัสลูกค้า</label>
                            <input type="text" class="form-control" asp-for="CustomerNo" disabled>
                        </div>
                        <div class="col-7 mb-1">
                            <label for="address2">ชื่อลูกค้า</label>
                            <input type="text" class="form-control" asp-for="CustomerName" disabled>
                        </div>
                        <div class="mb-1 col-5">
                            <label for="address2">ใบแจ้งหนี้เลขที่</label>
                            <input type="text" class="form-control" asp-for="InvoiceNo" disabled>
                        </div>

                        <div class="mb-1 col-7">
                            <label for="address2"> โทรศัพท์ </label>
                            <input type="text" class="form-control" asp-for="Telephone" disabled>
                        </div>
                        <div class="mb-1 col-7">
                            <label for="address2">อีเมล์</label>
                            <input type="text" class="form-control" asp-for="Email" disabled>
                        </div>

                        <div class="mb-1 col-5  pt-2 text-right">
                            <form method="post" asp-action="ProcessCheckOut" asp-controller="CheckOut">
                                <input type="hidden" id="local_amount" name="local_amount" value="@Model.InvoiceAmount.ToString("#.00")" />
                                <input type="hidden" id="local_invoice" name="local_invoice" value="@Model.InvoiceNo" />
        <input type="hidden" id="local_custno" name="local_custno" value="@Model.CustomerNo" />
        <input type="hidden" id="local_custname" name="local_custname" value="@Model.CustomerName" />
                                <input type="hidden" id="local_tel" name="local_tel" value="@Model.Telephone" />
                                <input type="hidden" id="local_email" name="local_email" value="@Model.Email" />
                                <script type="text/javascript"
                                        src="https://kpaymentgateway.kasikornbank.com/ui/v2/kpayment.min.js"
                                        data-apikey="pkey_prod_1125XOVjv6Kw8oMmxo07xUfP8LwLXI8jUCbY"
                                        data-amount="@Model.InvoiceAmount.ToString("#.00")"
                                        data-payment-methods="card"
                                        data-name="ILINK"
                                        data-mid="451005589392001">
                                </script>
                            </form>
                        </div>

                    </div>                 
                </div>
            </div>
        </div>
    </section>
    <!-- // Bootstrap Checkout form end -->

</div>
@section Scripts {

    <script>
        $(function () {
            $(".pay-button").addClass("btn btn-lg btn-block btn-info  btn-glow text-white w-100");
        });
    </script>

}
