﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ReceiveTransactionData
@{

}

<div class="content-body">
    <!-- Bootstrap Checkout form -->
    <section id="social-cards">

        <div class="row mt-2">
            <div class="col-md-4 order-md-2">
                <h4 class="d-flex justify-content-between align-items-center">
                    <span class="text-muted">Your cart</span>
                    @*<span class="badge badge-danger badge-pill">3</span>*@
                </h4>
                <ul class="list-group mb-3 card">
                
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (THB)</span>
                        <strong>  <input type="text" class="form-control" asp-for="amount" disabled></strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4>Check Out Information</h4>
                <form class="needs-validation p-2 bg-white card" novalidate="">

                    <div class="mb-3">
                        <label for="address2">Merchant ID </label>
                        <input type="text" class="form-control" asp-for="mid" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="firstName">Token</label>
                        <input type="text" class="form-control" asp-for="token" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="lastName">Secret Key (KBANK)</label>
                        <input type="text" class="form-control" asp-for="secretKey" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Card ID <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" asp-for="cardid" disabled>
                    </div>


                    <div class="mb-3">
                        <label for="address2">Invoice Order</label>
                        <input type="text" class="form-control" id="reference_order">
                    </div>

                    <div class="mb-3">
                        <label for="address2">Reference 1<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="ref_1">
                    </div>

                    <div class="mb-3">
                        <label for="address2">Reference 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="ref_2">
                    </div>

                    <div class="mb-3">
                        <label for="address2">Decsription<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="description">
                    </div>


                    <button class="btn btn-info btn-lg btn-block" type="button" onclick="goCharge()">Continue to checkout</button>
                </form>
            </div>
        </div>
    </section>
    <!-- // Bootstrap Checkout form end -->

</div>
@section Scripts {

    <script>
        function goCharge() {
            //window.location = "/Home/CheckOut";
            debugger    
            var _model = [];
            _model.push({
                token: $("#token").val(),
                amount: $("#amount").val(),
                currency:"THB",
                additional_data: {
                    mid: $("#mid").val()
                },
                source_type: "card",
                mode: "token",
                ref_1: $("#ref_1").val(),
                ref_2: $("#ref_2").val(),
                reference_order: $("#reference_order").val(),
                description: $("#description").val()
            });

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "@Url.Action("ProcessCharge", "Home")",
                data: { model: JSON.stringify(_model), secret: $("#secretKey").val() },
                success: function (data) {
                    if (data.status == "success") {
                        debugger
                        window.location = data.model.redirect_url;

                    } else {
                        toastr.error("");

                    }
                },
                error: function (err) {
                     toastr.error("");
                },
                complete: function (data) {

                }

            });

            //$('#checkout-form').submit();
        }
        $(function () {

        });
    </script>

}