﻿@model List<InvoiceData>
@{
    ViewData["AppTitle"] = "Pay Online";
}
<style>
    .pay-button {
        width:100% !important;
    }
</style>
<div class="content-body">
    <!-- Bootstrap pricing -->
    <section id="social-cards-bgcolor">
        @foreach (var item in Model)
        {
            <div class="row mt-2">
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="card profile-card-with-cover">
                        <div class="card-content card-deck text-center">
                            <div class="card box-shadow">
                                <div class="card-header bg-info">
                                    <h3 class="my-0 font-weight-bold text-white">INV-@item.InvoiceNo </h3>
                                </div>
                                <div class="card-body">
                                    <h1 class="pricing-card-title">345.67<small class="text-muted"></small></h1>
                                    <ul class="list-unstyled mt-2 mb-2">
                                        <li><span class="font-weight-bold">Customer : </span>@item.CustomerNo - @item.CustomerName</li>
                                    </ul>
                                    @*<a class="btn btn-lg btn-block btn-info  btn-glow text-white" asp-action="ProcessResult" asp-controller="Home" asp-route-id="INV0001"><i class="la la-sign-out"></i> &nbsp;ชำระเงิน</a>*@
                                    <form method="POST" action="Home/CheckOut" id="checkout-form">
                                        <input type="hidden" id="local_amount" name="local_amount" value="@item.InvoiceAmount" />
                                        <script type="text/javascript"
                                                src="https://dev-kpaymentgateway.kasikornbank.com/ui/v2/kpayment.min.js"
                                                data-apikey="pkey_test_20972KOPdDuJNWfBcdgwrRo0TvPwKWt54HM3p"
                                                data-amount="@item.InvoiceAmount"
                                                data-currency="THB"
                                                data-payment-methods="card"
                                                data-name="ILINK"
                                                data-mid="451005210623001">
                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

    </section>
    <!-- // Bootstrap pricing section end -->
</div>

@section Scripts {

<script>
    function goCheckOut(param) {
        window.location = "/Home/CheckOut";

        //$('#checkout-form').submit();
    }
    $(function () {
        $(".pay-button").addClass("btn btn-lg btn-block btn-info  btn-glow text-white");
    });
</script>
 
    }