﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content-body">
    <section id="icon-section-bg-gradient">
        <div class="row">
            @if (ViewBag.R == "Y")
            {
                <div class="col-8 mx-auto">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 bg-gradient-x-success text-white media-body text-left rounded-left">
                                    <h5 class="text-white">ชำระเงินสำเร็จ</h5>
                                    <h5 class="text-white text-bold-400 mb-0">฿ 1,22,356,00</h5>
                                </div>
                                <div class="p-2 text-center bg-success bg-darken-2 rounded-right">
                                    <i class="icon-check font-large-2 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 bg-gradient-x-danger text-white media-body text-left rounded-left">
                                    <h5 class="text-white">เกิดข้อผิดพลาดในการชำระเงิน</h5>
                                    <h5 class="text-white text-bold-400 mb-0">฿ 4,65,879</h5>
                                </div>
                                <div class="p-2 text-center bg-danger bg-darken-2 rounded-right">
                                    <i class="icon-close font-large-2 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewBag.R != "Y")
            {
                <div class="col-8 mx-auto">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 bg-gradient-x-success text-white media-body text-left rounded-left">
                                    <h5 class="text-white">ชำระเงินสำเร็จ</h5>
                                    <h5 class="text-white text-bold-400 mb-0">฿ 122,356.00</h5>
                                </div>
                                <div class="p-2 text-center bg-success bg-darken-2 rounded-right">
                                    <i class="icon-check font-large-2 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-8 mx-auto">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 bg-gradient-x-danger text-white media-body text-left rounded-left">
                                    <h5 class="text-white">เกิดข้อผิดพลาดในการชำระเงิน</h5>
                                    <h5 class="text-white text-bold-400 mb-0">฿ 465,879.00</h5>
                                </div>
                                <div class="p-2 text-center bg-danger bg-darken-2 rounded-right">
                                    <i class="icon-close font-large-2 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>